.header {
  margin-top: 100px;
  margin-bottom: 50px;

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: $ruby--300;
    color: #fff;

    ul {
      height: 100px;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        display: block;
        a {
          padding: 1ch;
          margin: 0 8px;
          color: #fff;
          text-decoration: none;
          border-radius: 15px;

          &[data-state='active'] {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
