.hero {
  background: $black-coffee--300;
  color: #fff;
  height: 33vmin;
  display: flex;
  align-items: center;

  * {
    max-width: 800px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
    width: 100%;

    &.dot::after {
      content: '.';
      display: inline;
      color: $ruby--300;
    }
  }
}
