body {
  font-size: var(--step-0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $black-coffee--300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-weight: bold;
  color: $cornflower--200;

  &[data-variant='dot']::after {
    content: '.';
    color: $ruby--200;
    display: inline;
  }
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}
